# How to create "lags" and "leads" of a column in a pandas DataFrame

In Python, the ***pandas*** library includes built-in functionalities that allow you to perform different tasks with only a few lines of code. One of these functionalities is the creation of lags and leads of a column.

- ***lag*** shifts a column down by a certain number.
- ***lead*** shifts a column up by a certain number.

## *Method*

In this method, we first initialize a pandas dataframe with a numpy array as input. Then we select a column and apply lead and lag by shifting that column up and down, respectively.

In [1]:
#importing pandas and numpy libraries
import pandas as pd
import numpy as np

In [2]:
#initializing pandas dataframe with numpy arrays
df = pd.DataFrame(np.random.randint(1, 100, 10).reshape(-1, 2), columns = list('AB'))
df

    A   B
0  26  92
1  75  76
2  94  80
3  81  64
4  53  29

In [3]:
#applying leads and lags by shifting dataframe column up and down respectively

#lags - shifting dataframe column down
df['lag(A,1)'] = df['A'].shift(1)
df['lag(A,2)'] = df['A'].shift(5)

#leads - shifting dataframe column up
df['lead(B,1)'] = df['B'].shift(-1)
df['lead(B,2)'] = df['B'].shift(-3)

In [4]:
df

    A   B  lag(A,1)  lag(A,2)  lead(B,1)  lead(B,2)
0  26  92       NaN       NaN       76.0       64.0
1  75  76      26.0       NaN       80.0       29.0
2  94  80      75.0       NaN       64.0        NaN
3  81  64      94.0       NaN       29.0        NaN
4  53  29      81.0       NaN        NaN        NaN